.Charts1-right {
    overflow: hidden;
    width: 650px;
    float: right;
    margin: 0 0 0 0;
}

.Charts1-left {
    width: 1050px;
    overflow: hidden;
    float: left;
    margin: 0 10px 0 0;
}

.Charts1-foot {
    height: 600px;
    margin: 0 0 10px 50px;
}

.top {
    height: 600px;
    margin: 0 0 80px 0;
}

#map_task1 {
    width: 1050px;
    background: white;
    float: left;
}

#lineChart_task1 {
    height: 600px;
}

#pieChart_task1 {
    height: 580px;
    width: 580px;
    float: left;
    margin-left: 60px;
    margin-right: 10px;
}

#overallPieChart_task1 {
    height: 280px;
}

#liquidChart_task1 {
    height: 280px;
    margin-top: 20px;
}

.pies {
    width: 350px;
    float: left;
}