.poa_left {
    float: left;
    width: 900px;
}

.poa_right {
    float: right;
    width: 900px;
}

.TF-IDF{
    height: 500px;
    margin: 0 0 20px 0;
}

.sen-index{
    height: 500px;
    margin: 0 0 20px 0;
}

.sen-wave{
    height: 500px;
    margin: 0 0 20px 0;
}