* {
    margin: 0;
    padding: 0;
}



/*a {*/
/*    text-decoration: none;*/
/*}*/

/*body {*/
/*    fontsize: 24px;*/
/*!*    background:*!*/
/*}*/

/*.container {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/

/*.header{*/
/*    background-color: #f69b5d;*/
/*}*/

/*.mainnav ul{*/
/*    font-size: 24px;*/
/*    margin-left: 12%;*/
/*}*/

/*.mainnav ul li{*/
/*    display: inline-block;*/
/*    margin-left: 12%;*/
/*    margin-right: 12%;*/
/*    font-family: "Songti SC";*/
/*}*/

/*.mainnav ul li a{*/
/*    color: #ffffff;*/
/*    line-height: 2.5em;*/

/*}*/
.Charts1{
    height: 2000px;
}

#map_task1 {
    height: 600px;
    width: 800px;
    background: white;
    margin: 20px;
    float: left;
}

.Charts1-right {
    overflow: hidden;
    width: 500px;
    float: right;
    margin-right: 20px;
}


#lineChart_task1 {
    height: 600px;
    width: 600px;
    margin: 20px 0;
}

#barChart_task1 {
    height: 600px;
    width: 600px;
    margin: 20px 0;
}

.Charts1-foot {
    width: 800px;
    overflow: hidden;
    margin-left: 20px;
}

#pieChart_task1 {
    height: 550px;
    width: 450px;
    float: left;
}

#overallPieChart_task1 {
    height: 300px;
    width: 350px;
    float: left;
}

#liquidChart_task1 {
    height: 300px;
    width: 350px;
    float: left;
}
