* {
    margin: 0;
    padding: 0;
}

el-menu-item {
    width: 20%;
}

/*a {*/
/*    text-decoration: none;*/
/*}*/

/*body {*/
/*    fontsize: 24px;*/
/*!*    background:*!*/
/*}*/

/*.container {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/

/*.header{*/
/*    background-color: #f69b5d;*/
/*}*/

/*.mainnav ul{*/
/*    font-size: 24px;*/
/*    margin-left: 12%;*/
/*}*/

/*.mainnav ul li{*/
/*    display: inline-block;*/
/*    margin-left: 12%;*/
/*    margin-right: 12%;*/
/*    font-family: "Songti SC";*/
/*}*/

/*.mainnav ul li a{*/
/*    color: #ffffff;*/
/*    line-height: 2.5em;*/

/*}*/

#map_task1 {
    height: 800px;
    width: 1200px;
    background: white;
    margin: 20px 0 0;
    float: left;
    overflow: hidden;
}

#lineChart_task1 {
    height: 600px;
    width: 600px;
    margin: 20px 40px;
    float: right;
    overflow: hidden;
}

#barChart_task1 {
    height: 600px;
    width: 600px;
    margin: 20px 40px;
    float: right;
}

#pieChart_task1 {
    height: 500px;
    width: 500px;
    float: left;
    margin: 50px 50px 50px;
}

#overallPieChart_task1 {
    height: 300px;
    width: 300px;
    float: left;
    margin:50px 50px 0 0;
}

#liquidChart_task1 {
    height: 250px;
    width: 250px;
    float: left;
    margin: 10px 50px 0 10px;
}